.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.elements{
  float: none;
}
.elements a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: inline-block; /* Make the links appear below each other */
    padding: 14px 16px; /* Add some padding */
    text-align: center;
    text-decoration: none; /* Remove underline from links */
}

.elements a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.elements a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}
